# Grafana
<source>
  @type tail
  tag monitoring.grafana
  path /var/log/grafana/grafana.log
  pos_file /var/log/td-agent/grafana.log.pos
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

# Prometheus
<source>
  @type tail
  tag monitoring.prometheus
  path /var/log/prometheus/prometheus/current
  pos_file /var/log/td-agent/prometheus.log.pos
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

<source>
  @type tail
  tag monitoring.thanos-sidecar
  path /var/log/prometheus/thanos-sidecar/current
  pos_file /var/log/td-agent/thanos-sidecar.log.pos
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

# Alert Manager
<source>
  @type tail
  tag monitoring.alertmanager
  path /var/log/prometheus/alertmanager/current
  pos_file /var/log/td-agent/alertmanager.log.pos
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

# Pushgateway
<source>
  @type tail
  tag monitoring.pushgateway
  path /var/log/prometheus/pushgateway/current
  pos_file /var/log/td-agent/pushgateway.log.pos
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

# Thanos
<source>
  @type tail
  tag monitoring.thanos-compact
  path /var/log/prometheus/thanos-compact/current
  pos_file /var/log/td-agent/thanos-compact.log.pos
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

# Thanos query
<source>
  @type tail
  tag monitoring.thanos-query
  path /var/log/prometheus/thanos-query/current
  pos_file /var/log/td-agent/thanos-query.log.pos
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

<source>
  @type tail
  tag monitoring.thanos-store
  path /var/log/prometheus/thanos-store/current
  pos_file /var/log/td-agent/thanos-store.log.pos
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

<filter monitoring.*>
  @type record_transformer
  <record>
<%= render "partial_default_record_attributes.erb" %>
  </record>
</filter>

<match monitoring.*>
  @type copy
  <% if node['gitlab_fluentd']['pubsub_enable'] -%>
  <store>
    @type cloud_pubsub
    topic pubsub-monitoring-inf-<%= node['gitlab_fluentd']['pubsub_env'] %>
    project <%= node['gitlab_fluentd']['pubsub_project'] %>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    key <%= node['gitlab_fluentd']['pubsub_file'] %>
    <% end -%>
  </store>
  <% end -%>

<%= render "partial_stackdriver.erb" %>
  @include ../prometheus-mixin.conf
</match>
