<% if node['gitlab_fluentd']['stackdriver_enable'] -%>
  <store>
    @type google_cloud
    label_map {
      "tag": "tag"
    }
    buffer_chunk_limit <%= node['gitlab_fluentd']['buffer_chunk_limit'] %>
    <% if node['gitlab_fluentd']['google_cloud_monitoring'] -%>
    enable_monitoring true
    monitoring_type prometheus
    <% end -%>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    use_metadata_service false
    vm_name <%= node['fqdn'] %>
    vm_id <%= node['fqdn'] %>
    zone us-east
    <% end -%>
  </store>
<% end -%>
